{% extends 'admin/base_site.html' %}
{% load i18n %}


{% block content %}

<script src="/site_media/js/jquery-1.2.6.js"></script>

<script language="JavaScript">

var layers = [[], [], [], []];
var current_layer = 2;
var cells_by_location = [{}, {}, {}, {}];

var filter_keywords = "";

function map_cells_by_location() {
	cells_by_location = [{}, {}, {}, {}];
	for (l = 0; l < cells_by_location.length; l++) {
		map = cells_by_location[l];
		for (i = 0; i < layers[l].length; i++) {
			cell = layers[l][i];
			x = cell.fields.x;
			y = cell.fields.y;
			x = Math.round(x / 10);
			y = Math.round(y / 10);
			map[x] = {};
			map[x][y] = cell;
		}
	}
}

function get_cell_by_location(x, y) {
	x = Math.round(x / 10);
	y = Math.round(y / 10);
	if (cells_by_location[current_layer][x])
		if (cells_by_location[current_layer][x][y])
			return cells_by_location[current_layer][x][y];
	return null;
}

function filter_by_keywords() {
	filter_keywords = document.filter_form.keywords.value;
	refresh();
	return false;
}

function refresh() {
	var url = 'http://{{ domain }}/cells/';
	if (filter_keywords != "") {
		url = url + "?q=" + filter_keywords;
	}
	window.status = "Querying " + url + " for updates...";
	jQuery.get(
		url, 
		{},
		function(data, textStatus) {
			try {
				window.status = "Received new updates...";
				layers = eval(data);
				draw_layer(current_layer);
				map_cells_by_location();
				window.status = "Done";
			} catch (e) {
				window.status = e;
			}
		},
		function(data, textStatus) {
			window.status = 'Failed to query for updates: ' + textStatus;
		}, 
		"json");
}


function periodic_refresh() {
	try {
		refresh();
	} catch (e) {
		//console.log(e);
	}
	setTimeout('periodic_refresh()', 5000);
}


function draw_layer(l) {
	current_layer = l;
	var layer = layers[l];
	var canvas = document.getElementById('engine');
	if (canvas.getContext){
	  var ctx = canvas.getContext('2d');
		ctx.clearRect(0, 0, 1000, 1000);
		for (i = 0; i < layer.length; i++) {
			cell = layer[i];
	
	        ctx.beginPath();
	        if (cell.fields.core.split(' ')[0] == "Representing")
	        	ctx.fillStyle = "rgb(50,200,200)";
	        else
	        	ctx.fillStyle = "rgb(50,10,100)";	        
	        ctx.fillRect (cell.fields.x, cell.fields.y, 5, 5);
			ctx.closePath();
		}
	}
}


function highlight(text) {
	var label = document.getElementById("highlighted_cell");
	if (label) {
		label.innerHTML = text;
	}
}


function handle( e )
{
	var canvas = document.getElementById('engine');
	if (canvas.getContext){
		var ctx = canvas.getContext('2d');
		// todo find coordinates properly
		var x = e.pageX - 180, y = e.pageY - 142;
		//ctx.fillRect( x, y, 10, 10 );
		if (get_cell_by_location(x, y)) {
			highlight(get_cell_by_location(x, y).fields.core);
		}
		else {
			highlight("<img src='/media/img/admin/selector-search.gif'/>");
		}
		window.status = "(" + x + "," + y + ")";
	}
}

window.onload = function() {
	var canvas = document.getElementById('engine');
	canvas.onmousemove = handle;
	periodic_refresh();
}

</script>


<table border="0" width="80%">
    <tr>
        <td width="30%" valign="top" align="left">
            <form name="filter_form">
                <p>
                    <input type="text" width="60" name="keywords">
                    <input type="button" value="Filter" onclick="filter_by_keywords()">
                </p>
            </form>
        </td>
        <td>
            <h3>{% trans 'Currently' %} {{ nagents }} {% trans 'agents are serving' %}</h3>
        </td>
        <td></td>
    </tr>
    <tr>
        <td width="30%" valign="top" align="right">
            <br/>
            <a href="javascript:draw_layer(0)" style="background-color: #D5D5D5">Layer 0</a><br/>
            <br/>
            <a href="javascript:draw_layer(1)" style="background-color: #D5D5D5">Layer 1</a><br/>
            <br/>
            <a href="javascript:draw_layer(2)" style="background-color: #D5D5D5">Layer 2</a><br/>
            <br/>
            <a href="javascript:draw_layer(3)" style="background-color: #D5D5D5">Layer 3</a><br/>
        </td>
        <td>
            <canvas id="engine" width="1000" height="1000" style="background-color: #F5F5F5">
				Please upgrade your browser to an HTML 5 compliant browser, such as Mozilla Firefox, Apple Safari or Google Chrome.
            </canvas>
        </td>
        <td id="highlighted_cell" style="background-color: lightgrey">
        	<img src='/media/img/admin/selector-search.gif'/>
    	</td>
    </tr>
</table>


{% endblock content %}